/* Layout */

.layout {
    display: flex;

    min-height: 100vh;

    background: #EEF5FF;
}

/* Main Content */

.layout-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

    margin-left: 260px;
    padding: 24px 32px;

    transition: all 0.3s ease;
}

/* Collapsed Sidebar */

.layout-content.collapsed {
    margin-left: 80px;
}

/* Responsive */

@media (max-width: 768px) {
    .layout-content,
    .layout-content.collapsed {
        margin-left: 0;
        padding: 20px;
    }
}